<ion-view  ng-app="starter" view-title="Categories">
  <ion-content>
    <!DOCTYPE html>
    <html>
    <!--<h1>Random</h1>-->

    <div class="w3-container" id="recipeCatNav">

      <div ng-click="go('/app/category/Appetizer')" class='w3-card-4' style='display: inline-block;margin-top: 2%;margin-bottom: 2%;margin-right: 2%; margin-left: 2%;width:45%'>
        <img src='img/categories/cracker.png' alt='Norway' style='width:100%'>
        <div class='w3-container w3-center'>
          <p>Appetizer</p>
          </div>
        </div>
      <div ng-click="go('/app/category/Beverages')" class='w3-card-4' style='display: inline-block;margin-top: 2%;margin-bottom: 2%;margin-right: 2%; margin-left: 2%;width:45%'>
        <img src='img/categories/milkshake.png' alt='Norway' style='width:100%'>
        <div class='w3-container w3-center'>
          <p>Beverages</p>
        </div>
      </div>
      <div ng-click="go('/app/category/Bread')" class='w3-card-4' style='display: inline-block;margin-top: 2%;margin-bottom: 2%;margin-right: 2%; margin-left: 2%;width:45%'>
        <img src='img/categories/bread.png' alt='Norway' style='width:100%'>
        <div class='w3-container w3-center'>
          <p>Bread</p>
        </div>
      </div>
      <div ng-click="go('/app/category/bread/muffins')" class='w3-card-4' style='display: inline-block;margin-top: 2%;margin-bottom: 2%;margin-right: 2%; margin-left: 2%;width:45%'>
        <img src='img/categories/cupcake.png' alt='Norway' style='width:100%'>
        <div class='w3-container w3-center'>
          <p>Muffins</p>
        </div>
      </div>
      <div ng-click="go('/app/navdessert')" class='w3-card-4' style='display: inline-block;margin-top: 2%;margin-bottom: 2%;margin-right: 2%; margin-left: 2%;width:45%'>
        <img src='img/categories/chocolate.png' alt='Norway' style='width:100%'>
        <div class='w3-container w3-center'>
          <p>Dessert</p>
        </div>
      </div>
      <div ng-click="go('/app/navmaindishes')" class='w3-card-4' style='display: inline-block;margin-top: 2%;margin-bottom: 2%;margin-right: 2%; margin-left: 2%;width:45%'>
        <img src='img/categories/dish.png' alt='Norway' style='width:100%'>
        <div class='w3-container w3-center'>
          <p>Main Dishes</p>
        </div>
      </div>
      <div ng-click="go('/app/category/News')" class='w3-card-4' style='display: inline-block;margin-top: 2%;margin-bottom: 2%;margin-right: 2%; margin-left: 2%;width:45%'>
        <img src='img/categories/male-reporter.png' alt='Norway' style='width:100%'>
        <div class='w3-container w3-center'>
          <p>News</p>
        </div>
      </div>
      <div ng-click="go('/app/category/Salad')" class='w3-card-4' style='display: inline-block;margin-top: 2%;margin-bottom: 2%;margin-right: 2%; margin-left: 2%;width:45%'>
        <img src='img/categories/salad.png' alt='Norway' style='width:100%'>
        <div class='w3-container w3-center'>
          <p>Salad</p>
        </div>
      </div>
      <div ng-click="go('/app/category/Sauce')" class='w3-card-4' style='display: inline-block;margin-top: 2%;margin-bottom: 2%;margin-right: 2%; margin-left: 2%;width:45%'>
        <img src='img/categories/ketchup.png' alt='Norway' style='width:100%'>
        <div class='w3-container w3-center'>
          <p>Sauce</p>
        </div>
      </div>
      <div ng-click="go('/app/category/Side-Dish')" class='w3-card-4' style='display: inline-block;margin-top: 2%;margin-bottom: 2%;margin-right: 2%; margin-left: 2%;width:45%'>
        <img src='img/categories/chef-hat-on-a-plate-from-side-view.png' alt='Norway' style='width:100%'>
        <div class='w3-container w3-center'>
          <p>Side Dish</p>
        </div>
      </div>
      <div ng-click="go('/app/category/Snacks')" class='w3-card-4' style='display: inline-block;margin-top: 2%;margin-bottom: 2%;margin-right: 2%; margin-left: 2%;width:45%'>
        <img src='img/categories/popcorn.png' alt='Norway' style='width:100%'>
        <div class='w3-container w3-center'>
          <p>Snacks</p>
        </div>
      </div>
      <div ng-click="go('/app/category/Soup')" class='w3-card-4' style='display: inline-block;margin-top: 2%;margin-bottom: 2%;margin-right: 2%; margin-left: 2%;width:45%'>
        <img src='img/categories/soup.png' alt='Norway' style='width:100%'>
        <div class='w3-container w3-center'>
          <p>Soup</p>
        </div>
      </div>

    </div>



    </div>
    </html>
  </ion-content>
</ion-view>
