<ion-view  ng-app="starter" view-title="Categories">
  <ion-content>
    <!DOCTYPE html>
    <html>
    <!--<h1>Random</h1>-->

    <div class="w3-container" id="recipeCatNav">
      <div ng-click="go('/app/category/main-dishes/chicken')" class='w3-card-4' style='display: inline-block;margin-top: 2%;margin-bottom: 2%;margin-right: 2%; margin-left: 2%;width:45%'>
        <img src='img/cooker.png' alt='Norway' style='width:100%'>
        <div class='w3-container w3-center'>
          <p>Meat</p>
        </div>
      </div>
      <div ng-click="go('/app/category/main-dishes/meat')" class='w3-card-4' style='display: inline-block;margin-top: 2%;margin-bottom: 2%;margin-right: 2%; margin-left: 2%;width:45%'>
        <img src='img/cooker.png' alt='Norway' style='width:100%'>
        <div class='w3-container w3-center'>
          <p>Pasta</p>
        </div>
      </div>
      <div ng-click="go('/app/category/main-dishes/pasta')" class='w3-card-4' style='display: inline-block;margin-top: 2%;margin-bottom: 2%;margin-right: 2%; margin-left: 2%;width:45%'>
        <img src='img/cooker.png' alt='Norway' style='width:100%'>
        <div class='w3-container w3-center'>
          <p>Pork</p>
        </div>
      </div>
      <div ng-click="go('/app/category/main-dishes/pork')" class='w3-card-4' style='display: inline-block;margin-top: 2%;margin-bottom: 2%;margin-right: 2%; margin-left: 2%;width:45%'>
        <img src='img/cooker.png' alt='Norway' style='width:100%'>
        <div class='w3-container w3-center'>
          <p>Seafood</p>
        </div>
      </div>
      <div ng-click="go('/app/category/main-dishes/seafood')" class='w3-card-4' style='display: inline-block;margin-top: 2%;margin-bottom: 2%;margin-right: 2%; margin-left: 2%;width:45%'>
        <img src='img/cooker.png' alt='Norway' style='width:100%'>
        <div class='w3-container w3-center'>
          <p>Turkey</p>
        </div>
      </div>
      <div ng-click="go('/app/category/main-dishes/turkey')" class='w3-card-4' style='display: inline-block;margin-top: 2%;margin-bottom: 2%;margin-right: 2%; margin-left: 2%;width:45%'>
        <img src='img/cooker.png' alt='Norway' style='width:100%'>
        <div class='w3-container w3-center'>
          <p>Wild Game</p>
        </div>
      </div>
      <div ng-click="go('/app/category/main-dishes/wild-game')" class='w3-card-4' style='display: inline-block;margin-top: 2%;margin-bottom: 2%;margin-right: 2%; margin-left: 2%;width:45%'>
        <img src='img/cooker.png' alt='Norway' style='width:100%'>
        <div class='w3-container w3-center'>
          <p>Chicken</p>
          </div>
        </div>


    </div>



    </div>
    </html>
  </ion-content>
</ion-view>
